html,
body {

  padding: 0;
  margin: 0;
  background: rgba(19, 0, 22, 0.027);
background: -moz-linear-gradient(0deg, #000 0%,  #000 25%,  #000 48%, rgba(0,0,0,1) 97%);
background: -webkit-linear-gradient(0deg,  #000 0%,  #000 25%, #000 48%, #000 97%);
background: linear-gradient(0deg,  #000 0%,  #000 25%,  #000 48%,  #000 97%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ce00d7",endColorstr="#000000",GradientType=1);
font-family: 'Poppins', sans-serif;
}

.color{
  color: crimson;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    font-family: 'Poppins', sans-serif;
  }
  body {
    color: white;
    background: black;
    font-family: 'Poppins', sans-serif;
    
  }
}

.css-ahj2mt-MuiTypography-root {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}
.bg-image{
  background-image: url("../image/hero.jpg");
  background-color: #cccccc;
  width:100%;
  height:100vh;
 background-size: auto;


}












@media only screen and (min-width:1px) and (max-width:700px) {
  .bg-image {
    background-position:left center;
  }
}








.myButton {
	box-shadow: 4px 5px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:20px 100px;
	border:3px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Poppins', sans-serif;
	font-size:19px;
  font-weight: 700;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
  color: #FFD700;

}
.myButton:active {
	position:relative;
  
	top:1px;
}

       




.hwrap {
	overflow: hidden; /* HIDE SCROLL BAR */
	background: #4242; /* SET BACKGROUND COLOR */
  }
   
  /* (B) MOVING TICKER WRAPPER */
  .hmove { display: flex; }
  
  /* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
  .hitem {
	flex-shrink: 0;
	width: 100%;
	color: #a000eb;
	box-sizing: border-box;
	padding: 20px;
  font-size: 14px;
  font-weight: 600;
	text-align: center;
  }
  @media screen and (min-width:1000px) {
    .hitem {
      font-size: 20px;
      font-weight: 800;
      width: 30%;
     
      
      }
  }
  .hitems   {
    flex-shrink: 0;
    width: 100%;
    color: #0DE63C;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-size: 0.5rem;

    }

    @media screen and (min-width:1000px) {
      .hitems   {
        font-size: 1rem;
        width: 50%;
        }
    }
    
     
   
  /* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
  /* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
  @keyframes tickerh {
	0% { transform: translate3d(100%, 0, 0); }
	100% { transform: translate3d(-400%, 0, 0); }
  }
  .hmove { animation: tickerh linear 40s infinite; }
  .hmove:hover { animation-play-state: running; }

  @media only screen and (max-width: 768px) {
	.hmove { animation-duration: 20s; }
  }




  .scroll-to-top {
    background-color: #8be8ff !important;
    right: 40px;
    bottom: 40px;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    box-shadow: 10px 9px 25px 10px rgba(255, 4, 201, 0.28);
    border: none;
}











* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d2123;
 
}

ul {
  list-style: none;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
  display: inline-block;
}

img {
  max-width: 100%;
}

button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {

  margin: 0;
}
p {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
}
.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}
.timelines h2 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin-bottom: 40px;
  font-size: 32px;
}
.d-flex-2 {
  display: flex;
  align-items: center;
}
.timeline-area {
  padding: 80px 0;
}
.all-timelines {
  position: relative;
}
.timelines h2 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin-bottom: 40px;
}
.all-timelines::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  width: 2px;
  background: #efa22f;
  top: 20px;
}
.single-timeline {
  margin-bottom: 22px;
}
.timeline-blank {
  width: 50%;
}
.timeline-text {
  width: 50%;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.timeline-text h6 {
  color: #f0f1f2;
  font-weight: 900;
  display: inline-block;
  font-size: 1rem;
}
.timeline-text span {
  color: #f0f1f2;
  display: block;
  width: 100%;
}
.single-timeline:nth-child(even) .timeline-text span {
  text-align: right;
}
.t-square {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -6px;
  background: #ff0ab5;
}
.single-timeline:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.single-timeline:nth-child(even) .t-square {
  right: -6px;
  left: unset;
}
.single-timeline:nth-child(even) .timeline-text {
  padding-left: 0;
  padding-right: 30px;
  text-align: right;
}

@media all and (max-width: 991px) {
}
@media all and (max-width: 768px) {
  .all-timelines::before {
    right: unset;
    top: 0;
  }
  .single-timeline:nth-child(2n) .timeline-text {
    padding-left: 30px;
    padding-right: 0;
    text-align: left;
  }
  .single-timeline:nth-child(2n) .t-square {
    left: -6px;
    right: unset;
  }
  .timeline-blank {
    display: none;
  }
  .timeline-text {
    width: 100%;
  }
  .single-timeline:nth-child(even) .timeline-text span {
    text-align: left !important;
  }
}
@media all and (max-width: 575px) {
}
@media all and (max-width: 360px) {
  .all-timelines::before {
    top: 32px;
  }
}



.css-10hburv-MuiTypography-root {
  margin: 0;

  font-weight: 600 !important;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  display: block;
}
.css-83ijpv-MuiTypography-root {
  margin: 0;
  
  font-weight: 500 !important;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(194, 194, 194, 0.6) !important;
  display: block;
}





.navbar-dark .navbar-toggler-icon {
color: #0DE63C !important;
}


.css-10hburv-MuiTypography-root {
  margin: 0;

  font-weight: 600 !important;
  font-size: 1rem;
  color: #ffffff !important;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  display: block;
}

.winner_price{
  margin: 0;

  font-weight: 600 !important;
  font-size: 1rem;
  color: #ec088d !important;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  display: block;
}

.css-ft4jij-MuiDivider-root {
  margin: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: antiquewhite;
  border-width: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: thin;
  margin-left: 16px;
  margin-right: 16px;
}

.hero_image{
  height: 100vh !important;
  width: auto ;
}


.navbar-dark .navbar-toggler, .navbar-light .navbar-toggler {
  border: 0;
  background: rgb(245, 69, 0) !important;
}